body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A;
}
.container{
    max-width: 1146px;
    margin: auto;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:24px;
}
.navbar-panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu {
    margin-right:0;
}
.btn-button{
    background-color:inherit;
    border:none;
    color:inherit;
    display:none;
}
.btn-group{
    display:flex;
    align-items:center;
}
.menu {
    list-style: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
}
.menu-item:not(:last-child){
    padding-right:14px;
}
.menu-link{
    text-decoration:none;
    color:inherit;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor:pointer;
}
.button-link{
    color:inherit;
}
.button-primary {
    background: #256EEB;
    border-radius: 5px;
    color: #FFFFFF;
}
.search-button-text {
    
    padding-left: 5px;
}
.search-panel {
    height: 50px;
    background: #256EEB;
    border-radius: 5px;
    display: flex;
    padding:3px;
}
.search-input {
    flex-grow: 1;
    background: #FFFFFF;
    border-radius: 5px;
    border:none;
    padding-left:22px;
    padding-right:22px;
}
.search-button {
    background: #256EEB;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.page-content{
    display:grid;
    grid-template-columns:9fr 3fr;
    grid-column-gap:0px;
}
.card-image{
    border-radius:10px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-right:20px;
    margin-bottom:20px;
}
.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
    width: 195px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.like {
    background-color: white;
    border: none;
    cursor:pointer;
    margin-left:15px;
}
.card-link{
    text-decoration:none;
}
.card-price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom:10px;
    display:block;
}
.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom:4px;
    margin-top:0px;
}
.servis-title {
    font-size: 14px;
    line-height: 16px;
    font-weight:bold;
    margin-top:7px;
    margin-bottom:5px;
}
.servis-text {
    font-size: 14px;
    line-height: 16px;
    width: 217px;
    height: 52px;
}
.servis{
    margin-bottom:25px;
}
.servis-img{
    margin-bottom:12px;
}
.footer-text {
    display:inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom:5px;
}
.footer-menu{
    margin:0;
    padding:0;
    list-style:none;
    margin-bottom:16px;
}
.footer-link {
    font-size: 12px;
    line-height: 14px;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}
.main-single {
    display: flex;
}
.content{
    max-width:460px;
}
.swiper-container {
    width: 100%;
    height: 357px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.swiper-wripper {
    
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.page-title {
    margin-top: 0px;
}
.mySwiper2 {
    border-radius: 10px;
    width: 100%;
}

.mySwiper {
    height: 20%;
    height: 53px;
    width: 360px; 
    margin-left: 0;
    box-sizing: border-box;
    padding: 10px 0;
}

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

.swiper-slide img {
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-text {
    font-size: 14px;
    line-height: 140%;
    padding-bottom:70px;
}
.single-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-top:0px;
}
.autor-info{
    height:55px;
}
.author{
    margin-left:30px;
}
.author-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.raiting{
    display:flex;
    margin-top:4px;
}
.raiting-info{
    margin-left:10px;
}
.author-status {
    font-size: 12px;
    line-height: 14px;
    margin-top:4px;
}
.author-wripper{
    display:flex;    
}
.author-photo {
    margin-left: 74px;
}
.author-ph{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}
.button-phon {
    position: absolute;
    width: 264px;
    height: 54px;
    background: #256EEB;
    border-radius: 5px;
}
.button-sms {
    margin-top:74px;
    position: absolute;
    width: 264px;
    height: 54px;
    background: #14B4BE;
    border-radius: 5px;
}
.menu-button {
    border: none;
    background-color: #fff;
    cursor: pointer;
    display:none;/*отключаю кнопку везде*/
}
.menu-esc{
    display:none;
}
@media(max-width: 1200px) {
    /*body {
        background-color:aqua;
    }*/
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .search-panel {
        margin-right: 20px;
        margin-left: 20px;
    }
    .navbar{
        margin-left:20px;
        margin-right:20px;
    }
}
@media(max-width: 1176px) {
    /*body {
        background-color:aquamarine;
    }*/
    .card{
        width:47%;
    }
    .card-image{
        width:100%;
    }
}
@media(max-width: 930px) {
    /*body {
        background-color:azure;
    }*/

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
    }
}
@media(max-width: 930px) {
    /*body {
        background-color:aqua;
    }*/
    .menu-button{
        display:block;
    }
    .menu-esc {
        display:block;
        border: none;
        background-color: #fff;
        cursor: pointer;
        position:fixed;
        top:30px;
        right:40px;
    }
    .navbar-panel {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.2s, opacity 0.2s;
        transform: translateX(100%);
        opacity:0;
    }
    .is-open {
        transform: translateX(0%);
        opacity: 1;
    }
    /*.btn-group {
        position:fixed;
        right:0;
        top:0;
        width:100%;
        height:100%;
        background-color:white;
        z-index:9;
        flex-direction:column;
        justify-content:center;
        transition: transform 0.2s;
        transform: translateX(-100%);
    }*/
    .menu{
        flex-direction:column;
    }
    .button-group {
        flex-direction: column;
        display: flex;
    }
    .menu{
        align-items:center;
        align-content:center;

    }
    .menu-item:not(:last-child) {
        padding-right: 0px;
        margin-bottom:10px;
    }
}
@media(max-width: 641px) {
    /*body {
        background-color:bisque;
    }*/

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
    }
}
@media(max-width: 515px) {
    

    /*body {
        background-color: aqua;
    }*/
    .page-content{
        display:inline-block;
    }
    .card {
        width: 100%;
    }

    .card-image {
        width: 105%;
    }
}
@media(max-width: 400px) {
    /*body{
        background-color:aqua;
    }*/
    .container {
        margin-left: 7px;
        margin-right: 7px;
    }

    .search-panel {
        margin-right: 7px;
        margin-left: 7px;
    }

    .navbar {
        margin-left: 7px;
        margin-right: 7px;
    }
    .card-image {
        width: 105%;
        margin-right: 7px;
    }
}
@media(max-width: 345px) {
   /* body {
        background-color: aqua;
    }*/

    .search-input {
        padding-left: 3%;
        padding-right: 3%;
    }
    .card-image {
        width: 106%;
        margin-right: 7px;
    }
}